* {
    box-sizing: border-box;
}

header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
    text-align: center;
    left: 47%;
}

.logo img {
    display: flex;
    flex-direction: row;
    height: 150px;
    width: 270px;
    margin-top: 35px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-radius: 20px;
}


body {
    display: flex;
    margin: 0;
    background-image: url(/images/hjet.jpg);
    background-size: cover;
    font-family: 'Poppins', sans-serif;
    background-blend-mode: darken;
    background-color: rgba(1, 1, 27, 0.70);
}

.inputForm {
    display: flex;
    flex-direction: column;
    justify-items: center;
    top: 50%;
    left: 50%;
    margin-top: 25px;
    font-size: 15px;
    text-align: center;
    position: absolute;
    backdrop-filter: blur(16px) saturate(200%);
    -webkit-backdrop-filter: blur(16px) saturate(150%);
    background-color: rgba(1, 1, 27, 0.75);
    border-radius: 12px;
    transform: translateY(-50%) translateX(-50%);
}

.inputName,
.inputAge,
.inputCity,
.inputCode,
.inputEmail {
    display: flex;
    width: 300px;
    backdrop-filter: blur(16px) saturate(178%);
    -webkit-backdrop-filter: blur(16px) saturate(178%);
    background-color: rgba(53, 53, 53, 0.65);
    margin: 10px;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    border: 0;
}

#placeholder-text::placeholder {
    display: flex;
    padding: 20px;
}


.buttonElement {
    display: flex;
    bottom: 100px;
    left: 47%;
    position: absolute;
}

.buttonElement button {
    display: block;
    height: 30px;
    width: 90px;
    background: rgb(40, 40, 47);
    background: linear-gradient(180deg, rgba(40, 40, 47, 1) 0%, rgba(85, 85, 85, 0.75) 49%);
    border-radius: 5px;
    border: 1px solid #666;
    color: #fff;
    cursor: pointer;
}

@media (max-width:768px) {

    html {
        font-size: 50%;
        overflow-x: hidden;
    }

    header {
        display: flex;
        text-align: center;
        margin: auto;
    }

    .logo img {
        display: flex;
        flex-direction: column;
        height: 170px;
        width: 320px;
        margin: auto;
        margin-top: 300px;
        background: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        border-radius: 20px;
    }

    body {
        display: flex;
        overflow-x: hidden;
        background-image: url(/images/hjet.jpg);
        background-repeat: repeat;
        background-size: 2300px;
        background-position: 60% 15%;
        font-family: 'Poppins', sans-serif;
        background-blend-mode: darken;
        background-color: rgba(1, 1, 27, 0.70);
    }

    .inputForm {
        display: flex;
        flex-direction: column;
        justify-items: center;
        margin: auto;
        width: 400px;
        margin-top: 20px;
        text-align: center;
        backdrop-filter: blur(16px) saturate(200%);
        -webkit-backdrop-filter: blur(16px) saturate(150%);
        background-color: rgba(1, 1, 27, 0.75);
        border-radius: 12px;
    }

    .inputName,
    .inputAge,
    .inputCity,
    .inputCode,
    .inputEmail {
        display: flex;
        width: 376px;
        backdrop-filter: blur(16px) saturate(178%);
        -webkit-backdrop-filter: blur(16px) saturate(178%);
        background-color: rgba(53, 53, 53, 0.65);
        margin: 10px;
        font-size: 13px;
        height: 45px;
        color: #fff;
        border-radius: 5px;
    }

    #placeholder-text::placeholder {
        display: flex;
        padding: 20px;
        font-size: 13px;
    }

    .buttonElement {
        display: flex;
        bottom: 400px;
        margin: auto;
    }

    .buttonElement button {
        display: block;
        height: 40px;
        width: 120px;
        margin: -20px;
        font-size: 20px;
        background: rgb(40, 40, 47);
        background: linear-gradient(180deg, rgba(40, 40, 47, 1) 0%, rgba(85, 85, 85, 0.75) 49%);
        border-radius: 5px;
        border: 1px solid #666;
        color: #fff;
        cursor: pointer;
    }
}


@media (max-width:415px) {

    html {
        font-size: 50%;
        overflow-x: hidden;
    }

    header {
        display: flex;
        text-align: center;
        margin: auto;
    }

    .logo img {
        display: flex;
        flex-direction: column;
        height: 130px;
        width: 210px;
        margin: auto;
        margin-top: 30px;
        background: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        border-radius: 20px;
    }

    body {
        display: flex;
        overflow-x: hidden;
        background-image: url(/images/hjet.jpg);
        background-repeat: repeat;
        background-size: 1600px;
        background-position: 60% 15%;
        font-family: 'Poppins', sans-serif;
        background-blend-mode: darken;
        background-color: rgba(1, 1, 27, 0.70);
    }

    .inputForm {
        display: flex;
        flex-direction: column;
        justify-items: center;
        margin: auto;
        width: 300px;
        margin-top: 20px;
        text-align: center;
        backdrop-filter: blur(16px) saturate(200%);
        -webkit-backdrop-filter: blur(16px) saturate(150%);
        background-color: rgba(1, 1, 27, 0.75);
        border-radius: 12px;
    }

    .inputName,
    .inputAge,
    .inputCity,
    .inputCode,
    .inputEmail {
        display: flex;
        width: 280px;
        backdrop-filter: blur(16px) saturate(178%);
        -webkit-backdrop-filter: blur(16px) saturate(178%);
        background-color: rgba(53, 53, 53, 0.65);
        margin: 10px;
        font-size: 13px;
        height: 45px;
        color: #fff;
        border-radius: 5px;
    }

    #placeholder-text::placeholder {
        display: flex;
        padding: 20px;
        font-size: 13px;
    }

    .buttonElement {
        display: flex;
        bottom: 100px;
        margin: auto;
    }

    .buttonElement button {
        display: block;
        height: 40px;
        width: 90px;
        margin: -20px;
        font-size: 16px;
        background: rgb(40, 40, 47);
        background: linear-gradient(180deg, rgba(40, 40, 47, 1) 0%, rgba(85, 85, 85, 0.75) 49%);
        border-radius: 5px;
        border: 1px solid #666;
        color: #fff;
        cursor: pointer;
    }
}


