* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    height: 150px;
}

header h1 {
    display: block;
    margin: auto;
    text-align: center;
    justify-content: center;
    margin-top: 40px;
}


body {
    display: block;
    background-image: url(/images/VEX2020.png);
    background-color: rgba(1, 1, 27, 0.95);
    background-blend-mode: darken;
    background-size: cover;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
    color: gray;
}

.staff-field {
    display: flex;
    justify-content: space-between;
    margin-top: 120px;
}

.staff-1 {
    display: block;
    margin: 30px;
}

.staff-1 img {
    display: block;
    width: 240px;
    height: 250px;
    border-radius: 50%;
}

.staff-1 h3 {
    display: block;
    margin-top: 30px;
    margin: auto;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
}

.staff-1 p {
    display: block;
    margin-top: 30px;
    margin: auto;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
}

.staff-2 {
    display: block;
    margin: 30px;
}

.staff-2 img {
    display: block;
    width: 240px;
    height: 250px;
    border-radius: 50%;
}

.staff-2 h3 {
    display: block;
    margin-top: 30px;
    margin: auto;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
}

.staff-2 p {
    display: block;
    margin-top: 30px;
    margin: auto;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
}

.staff-3 {
    display: block;
    margin: 30px;
}

.staff-3 img {
    display: block;
    width: 240px;
    height: 250px;
    border-radius: 50%;
}

.staff-3 h3 {
    display: block;
    margin-top: 30px;
    margin: auto;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
}

.staff-3 p {
    display: block;
    margin-top: 30px;
    margin: auto;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
}

.staff-4 {
    display: block;
    margin: 30px;
}

.staff-4 img {
    display: block;
    width: 240px;
    height: 250px;
    border-radius: 50%;
}

.staff-4 h3 {
    display: block;
    margin-top: 30px;
    margin: auto;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
}

.staff-4 p {
    display: block;
    margin-top: 30px;
    margin: auto;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
}

.backButton button {
    display: none;
}


@media (max-width:414px) {
    
    html {
        font-size: 50%;
        overflow-x: hidden;
    }
    
    header {
        display: flex;
        background: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        height: 150px;
    }
    
    header h1 {
        display: block;
        margin: auto;
        text-align: center;
        justify-content: center;
        font-size: 30px;
    }
    
    
    body {
        display: block;
        background-image: url(/images/VEX2020.png);
        background-color: rgba(1, 1, 27, 0.95);
        background-blend-mode: darken;
        background-size: 450px;
        background-position: 50%;
        font-family: 'Poppins', sans-serif;
        overflow-x: hidden;
        color: gray;
    }
    
    .staff-field {
        display: flex;
        flex-direction: column;
        margin: auto;
        justify-content: space-between;
        margin-top: 50px;
    }
    
    .staff-1 {
        display: block;
        margin-left: 20px;
    }
    
    .staff-1 img {
        display: block;
        margin-left: 45px;
        width: 240px;
        height: 250px;
        border-radius: 50%;
    }
    
    .staff-1 h3 {
        display: block;
        margin-top: 30px;
        font-size: 25px;
        margin: auto;
        justify-content: center;
        text-align: center;
        margin-top: 20px;
    }
    
    .staff-1 p {
        display: block;
        margin-top: 30px;
        font-size: 20px;
        margin: auto;
        justify-content: center;
        text-align: center;
        margin-top: 20px;
    }
    
    .staff-2 {
        display: block;
        margin-left: 20px;
    }
    
    .staff-2 img {
        display: block;
        margin-left: 45px;
        width: 240px;
        height: 250px;
        border-radius: 50%;
    }
    
    .staff-2 h3 {
        display: block;
        margin-top: 30px;
        font-size: 25px;
        margin: auto;
        justify-content: center;
        text-align: center;
        margin-top: 20px;
    }
    
    .staff-2 p {
        display: block;
        margin-top: 30px;
        font-size: 20px;
        margin: auto;
        justify-content: center;
        text-align: center;
        margin-top: 20px;
    }
    
    .staff-3 {
        display: block;
        margin-left: 20px;
    }
    
    .staff-3 img {
        display: block;
        margin-left: 45px;
        width: 240px;
        height: 250px;
        border-radius: 50%;
    }
    
    .staff-3 h3 {
        display: block;
        margin-top: 30px;
        font-size: 25px;
        margin: auto;
        justify-content: center;
        text-align: center;
        margin-top: 20px;
    }
    
    .staff-3 p {
        display: block;
        margin-top: 30px;
        font-size: 20px;
        margin: auto;
        justify-content: center;
        text-align: center;
        margin-top: 20px;
    }


    .staff-4 {
        display: block;
        margin-left: 20px;
        margin-bottom: 100px;
    }
    
    .staff-4 img {
        display: block;
        margin-left: 45px;
        width: 240px;
        height: 250px;
        border-radius: 50%;
    }
    
    .staff-4 h3 {
        display: block;
        margin-top: 30px;
        font-size: 25px;
        margin: auto;
        justify-content: center;
        text-align: center;
        margin-top: 20px;
    }
    
    .staff-4 p {
        display: block;
        margin-top: 30px;
        font-size: 20px;
        margin: auto;
        justify-content: center;
        text-align: center;
        margin-top: 20px;
    }

    .backButton {
        display: flex;
        left: 40%;
        margin: -60px -12px;
        position: relative;
    }

    .backButton button {
        display: block;
        height: 30px;
        width: 90px;
        font-size: 14px;
        background: rgb(40, 40, 47);
        background: linear-gradient(180deg, rgba(40, 40, 47, 1) 0%, rgba(85, 85, 85, 0.75) 49%);
        border-radius: 5px;
        border: 1px solid #666;
        color: #fff;
        cursor: pointer;
    }
}