* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    padding-top: 20px;
}

header h1 {
    display: flex;
    text-align: center;
    justify-items: center;
    margin: auto;
    font-size: 45px;
}

body {
    display: block;
    background-image: url(/images/executive-2.jpeg);
    background-blend-mode: darken;
    background-size: cover;
    background-color: rgba(1, 1, 27, 0.95);
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
    color: gray;
}

.about {
    display: flex;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-radius: 20px;
    margin: 40px;
    padding: 15px;
    font-size: 17px;
}

.about p {
    display: block;
    margin: auto;
    text-align: center;
}

.values {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-items: center;
    padding: 15px;
    font-size: 17px;
    line-height: 50px;
}

.backButton button {
    display: none;
}

hr {
    display: none;
}

footer {
    display: flex;
}

.container-footer {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    margin-top: 66px;
}

.container-footer h3 {
    display: flex;
    text-align: center;
    justify-items: center;
    margin: auto;
}

.container-footer img {
    display: block;
    height: 150px;
    margin-right: 160px;
    margin-top: 50px;
}

@media (max-width:414px) {

    html {
        font-size: 50%;
        overflow-x: hidden;
    }

    header {
        display: flex;
        width: 100%;
    }

    body {
        display: block;
        background-image: url(/images/executive-2.jpeg);
        background-blend-mode: darken;
        background-size: cover;
        background-position: 40%;
        background-color: rgba(1, 1, 27, 0.95);
        font-family: 'Poppins', sans-serif;
        overflow-x: hidden;
        color: gray;
    }

    .about {
        display: flex;
        background: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        border-radius: 20px;
        height: 400px;
        width: 320px;
        margin: auto;
        padding: 12px;
        font-size: 13px;
    }

    .about p {
        display: block;
        margin: auto;
        text-align: center;
    }

    .values {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-items: center;
        padding: 15px;
        font-size: 17px;
        line-height: 40px;
        margin-bottom: 50px;
    }

    hr {
        display: block;
        color: #666;
    }

    .backButton {
        display: flex;
        left: 42%;
        margin: -50px -12px;
        position: relative;
    }

    .backButton button {
        display: block;
        height: 30px;
        width: 90px;
        background: rgb(40, 40, 47);
        background: linear-gradient(180deg, rgba(40, 40, 47, 1) 0%, rgba(85, 85, 85, 0.75) 49%);
        border-radius: 5px;
        border: 1px solid #666;
        color: #fff;
        cursor: pointer;
    }

    footer {
        display: flex;
    }

    .container-footer {
        display: flex;
        width: 100%;
        justify-content: space-evenly;
        background: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        margin-top: 66px;
    }

    .container-footer h3 {
        display: block;
        text-align: center;
        margin-bottom: 30px;
        font-size: 13px;
    }

    .container-footer img {
        display: block;
        height: 100px;
        width: 195px;
        margin: auto;
        margin-top: 40px;
    }


}